:root{
	--primary-white: #fff;
	--primary-light-grey: #f4f4f4;
	--primary-grey: #ccd1d9;
	--primary-dark-grey:#666;
	--primary-orange:#f9ab00;
	--primary-dark:rgb(52,58,64);
	--primary-red: #ef4035;
	--primary-hover-red: #f33501;
	--primary-black:#000;
	--primary-transparent-black: rgba(0, 0,0, .7);
	--primary-green: rgb(0,255,0);
}

.nav-link{
	color: #fff !important;
}

nav ul li{
	text-transform: uppercase;
}

.navbar-nav > li > a:hover ,
.navbar-nav > li > a:focus
{
	border-top: .1875rem solid var(--primary-orange);

}


.header-wrapper {
	position: relative;
	background: url(wall-and-laptop-background.jpeg);
	background-size: cover;
	height: 100vh;
	background-position: center;
}

.main-info {
	position: absolute;
	top: -250px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-info h1 {
	color:var(--primary-orange);
	margin-bottom: 25px;
}



.typed-text {
	font-size: 2rem;
	color: var(--primary-white);
}